.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    align-self: flex-start;
}

* {
    font-family: sans-serif;
}

.project { 
    min-height: 40vh;
    width: 45vw;
    border-radius: 10px;
    margin: 4px;
    padding: 8px 8px 16px 8px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}


.project > * {
    margin-top: 8px;
    margin-bottom: 8px;
}

.title {
    font-weight: bold;
}

:user-invalid {
    border: 2px solid red;
    border-radius: 4px;
}

fieldset {
    border: 2px solid rgb(171, 169, 169);
    border-radius: 2px;
}

.todo-item {
    flex-grow: 1;
    height: 20%;
    border-radius: 10px;
    margin: 4px;
    padding: 4px;
}